p
  text-indent: 2em;

table
ol
ul
  margin-left: 2em;

li p
  text-indent: 0;

.description
  text-indent: 0;

.action
  text-indent: 0;

h3
  line-height: 1.7;

.home_author
  font-size: 1.35rem;
  font-weight: 600;

.preface_author
  display: flex;
  justify-content: flex-end;
  &.preface_author_title
    margin-top: 4rem;
  &.preface_author_signature
    font-size: 1.35rem;
    font-weight: bold;

.contents_class
  ul
    margin-left: 0;
  .header-anchor
    display: none;
  a
    &:link
    &:active
    &:visited
    &:hover
      color: #2c3e50;
